<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" async=""></script>
<script type="text/javascript" src="{{ site.url }}/js/main.js" async=""></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.4/lazysizes-umd.min.js" async=""></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.4/plugins/unveilhooks/ls.unveilhooks.min.js" async=""></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js" async=""></script>
<script>
 WebFont.load({
    google: {
      families: [
        'Catamaran:600,400,400italic:latin,latin-ext',
        'Noto+Serif:600,400,400italic:latin,latin-ext',
        'Source+Sans+Pro:600,400,400italic:latin,latin-ext',
        'Roboto+Mono:latin,latin-ext']
    }
  });
</script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.owner.google.analytics }}', 'auto');
  ga('send', 'pageview');
</script>

{% endif %}
